/* Different blocs */

/* First bloc */

.first-screen {
    width: 100%;
    height: 62.5rem;
    background-image: url("../assets/img/earth.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
}

.text-first-screen {
    color: #FFF;
    text-align: center;
    font-family: 'Gugi', cursive;
    font-size: 1.56rem;
    letter-spacing: 0.15rem;
    line-height: 2rem;
    padding-top: 25rem;
    
}

/* Second bloc */

.second-screen {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 3000px;
    background-color: black;
}

.second-screen img {
    width: 25rem;
}

.second-screen h1,
.second-screen p {
    width: 25rem;
    text-align: left;
    font-family: 'Gugi', cursive;
    font-size: 0.9rem;
    letter-spacing: 0.15rem;
    line-height: 1.25rem;
}

.second-screen {
    align-items: flex-end;
}

.apollo-article {
    align-self: flex-start;
    margin-left: 6.25rem;
    margin-top: 31.25rem;
    margin-bottom: 31.25rem;
}

.jules-vernes-article img {
    width: 50%;
}

.jules-vernes-article,
.china-article {
    margin-right:6.25rem;
}

/* Third bloc */

.third-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 43.75rem;
    background-image: url("../assets/img/moon.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
}

.two-img {
    display: flex;
    align-items: center;
}

.two-img img {
    margin-left: 6.25rem;
    margin-bottom: 6.25rem;
}

.text-end {
    width: 50%;
}

.text-end p {
    font-family: 'Gugi', cursive;
    font-size: 0.9rem;
    letter-spacing: 0.15rem;
    line-height: 1.30rem;
    text-align: center;
}

/* Titles and paragraphs */

main p,
main h1 {
    color: white;
}

main h1 {
    padding-top: 2rem;
}

/* Line */

.line {
    z-index: 1;
    position: absolute;
    height: 2800px;
    top: 850px;
    border-right: 4px ridge white;
    left: 775px;
    
}

