/* Navigation bar */

.active {
    color: red;
}
.nav-bar {
    z-index: 2;
    display: flex;
    position: fixed;
    padding: 0.9rem 1.5625rem;
    width:100%;
    background-color: #174064;
}

nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Gugi', cursive;
    font-size: 1.1rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
	color: white;
}

nav .first-rubric {
	margin-left: 3.75rem;
}

nav a img {
    width: 2rem;
}

nav a p {
    font-family: 'Gugi', cursive;
    color: white;
	margin-left: 1rem;
}

.nav-bar p:hover {
    color: red;
}
.nav-bar a:hover {
    color: red;
}

/* Body */

main {
    display: flex;
}

main p {
    width: 88%;
    text-align: center;
}

/* Slider */

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0CAADA;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slidecontainer {
    width: 90%;
    margin-right: 10%;
    margin-top: 200px;
}

/* Text Slider */

.slidecontainer p {
    font-family: 'Orbitron', sans-serif;
    text-align: left;
    margin-top: 20px;
    width: 100%;
}
.slidecontainer span {
    font-weight: bold;
}

.instructions {
    width: 100%;
    font-family: 'Gugi', cursive;
    font-size: 1.5rem;
    margin-top: 200px;
    margin-left: 100px;
}

.instructions h1 {
    text-align: center;
}
